# Cache
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm project
.idea/

# Visual Studio Code workspace settings
.vscode

# Session files
eduu/*.session*

# Database
eduu/database/*.db

# Bot personal config file
eduu/config.ini
eduu/config.py

# Misc
unknown_errors.txt
eduu/downloads/
.spyproject/
