# Cache
eduu/__pycache__/
eduu/plugins/__pycache__/
eduu/database/__pycache__/
eduu/utils/__pycache__/

.spyproject/
.vscode/
.idea/
.venv/

# Session files
eduu/*.session-journal
eduu/*.session

# Database
eduu/database/*.db

# Bot personal config file
eduu/config.ini
eduu/config.py

# Misc
unknown_errors.txt
eduu/downloads/
