import amanobot
import amanobot.aio
import asyncio


loop = asyncio.get_event_loop()

token = "TOKEN:HERE"

bot = amanobot.aio.Bot(token) #Bot token
na_bot = amanobot.Bot(token)


me = loop.run_until_complete(bot.getMe())
bot_username = me['username']
bot_id = me['id']

keys = dict(
    openweathermap = 'key_here',  #You can obtain an key at https://openweathermap.org
    yandex = 'key_here',          #You can obtain an key at https://tech.yandex.com/translate
    giphy = 'key_here',           #You can obtain an key at https://developers.giphy.com
)

git_repo = ('https://github.com/AmanoTeam/EduuRobot', 'master') #Repository where your bot is

max_time = 60

version = open('version.txt').read()
logs = -1001297931062

sudoers = [
    123456789
]

enabled_plugins = [
    'processmsg',
    'start',
    'rules',
    'shorten',
    'sed',
    'kibe',
    'translate',
    'inlines',
    'welcome',
    'admins',
    'warns',
    'prints',
    'pypi',
    'weather',
    'youtube',
    'ping',
    'gif',
    'git'
    'reddit',
    'coub',
    'sudos',
    'id',
    'ip',
    'jsondump',
    'dice',
    'misc',
    'antichato'
]
