[project]
name = "eduu"
version = "0.0.0"
description = "A multipurpose Telegram Bot made with Pyrogram and asynchronous programming."
readme = "README.rst"

dependencies = [
    "gpytranslate==1.5.1",
    "httpx[http2]>=0.18.1,<1.0.0",
    "humanfriendly",
    "meval==2.5",
    "Pillow>=8.4.0,<10.0.0",
    # Using Amano's Pyrogram fork
    "pyrogram @ https://github.com/AmanoTeam/pyrogram/archive/master.zip",
    "pytio",
    "regex",
    "speedtest-cli",
    "tgcrypto",
    # Using uvloop to increase general speed and stability. Ignored under Windows
    "uvloop>=0.10.0,<0.18.0; platform_system != 'Windows'",
    "yarl",
    "yt-dlp==2023.2.17",
]
requires-python = ">=3.7"

authors = [
    { name = "Amano LLC", email = "contact@amanoteam.com" }
]
license = { text = "MIT" }


[project.urls]
homepage = "https://github.com/AmanoTeam/EduuRobot"

[tool.setuptools]
# Empty because the project is not a package
packages = []
