gpytranslate==0.3.1
git+https://github.com/AmanoTeam/pyrogram.git#egg=Pyrogram
git+https://github.com/aio-libs/async-lru.git#egg=async_lru
meval==2.5
tgcrypto
speedtest-cli
httpx[http2]>=0.16.1,<1.0.0
regex
telegraph
Pillow==8.2.0
pytio
youtube-dl
async_files
