# Using AmanoTeam Pyrogram's
git+https://github.com/AmanoTeam/pyrogram.git#egg=Pyrogram
tgcrypto  # To increase Pyrogram speed

# To increase general speed and stability. Ignored under Windows
uvloop>=0.4.0,<0.17.0; platform_system != "Windows"

# Database
aiosqlite==0.18.0

# Plugins Deps
gpytranslate==1.4.0
meval==2.5
speedtest-cli
httpx[http2]>=0.18.1,<1.0.0
regex
Pillow>=8.4.0,<10.0.0
pytio
yt-dlp==2022.8.8
humanfriendly
yarl
