from typing import List, Optional

# Bot token from Bot Father
TOKEN: str = "YOUR_TOKEN_HERE"

# Your API ID and API HASH
# Get it from https://my.telegram.org/apps
API_ID: int = 123123
API_HASH: str = ""


# Chat used for logs
log_chat: int = 123456789

# Sudoers and super sudoers
super_sudoers: List[int] = [123456789]
sudoers: List[int] = [987654321]

# Prefixes for commands
# e.g: /command and !command
prefix: List[str] = ["/", "!"]

# the nekobin instance url for the pasting the errors
nekobin_error_paste_url: str = "https://paste.amanoteam.com"

# List of disabled plugins
disabled_plugins: List[str] = []

# API Keys (Optional)
TENOR_API_KEY: Optional[str] = ""

# All super sudoers should be sudoers as well
sudoers.extend(super_sudoers)
