name: Run bot

on:
  pull_request:
  push:
    branches-ignore:
      - 'l10n_*'
      - 'dependabot/**'

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12']
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Set up configuration
      run: |
        curl https://pastebin.com/raw/1jgN48kr -o config.py
    - name: Install dependencies
      run: |
        pip install --upgrade pip wheel
        pip install -e .
    - name: Start the bot
      run: |
        python -m eduu test
